.regionsearch
{
	
}
.regionSearch_title
{
    line-height:25px;
    /*background-color:#D5DDF3;*/
    padding-left:5px;
    font-weight:bold;
    white-space:nowrap;
}
.regionSearch_title a
{
	text-decoration:underline;
}
.regionSearch_content
{
    padding:5px 0px 0px 21px;
}
.regionlist a,.poisearchlist a
{
    float:left;
    margin:2px 3px 3px 2px;
    text-decoration:underline;
    white-space:pre;
 }
  .regionlist,.poisearchlist
 {
 	line-height:16px;
 }
  /*提示信息*/
 .hints
{
	padding-left:20px;
    background-image:url(../images/icons/hints16.png);
    background-position:left top;
    background-repeat:no-repeat;
    line-height:18px;
    font-size:9pt;
    color:#999999;
    margin-top:5px;
}
.regionsearchpanel
{
    margin-top:10px;
}
/*查询结果样式*/
.mapsearchresult_title
 {
    height:25px;
    line-height:25px;
    background-color:#D5DDF3;
    padding-left:5px;
    font-weight:bold;
    white-space:nowrap; 
    margin:2px 0 0 0; 
 }
/*地图搜索查询结果*/
.mapSearchResult_content
{
	
}
/*列表形式*/
.mapSearchResult_content .one
  {
      clear:left;
      margin:2px;
      border-bottom:dashed 1px gray;
      cursor:pointer;
      min-height:30px;
  }
.mapSearchResult_content .img
{
     float:left;padding:2px;
}
.mapSearchResult_content .content
{
    margin-left:26px;  
    color:Gray;  
}
.mapSearchResult_content .title
{
    height:25px; 
    font-weight:bold; 
    font-size:12pt; 
    line-height:25px;    
    text-align:left;
}
.mapSearchResult_content .title a{ text-decoration:underline;}

.mapSearchResult_content .detail
{
     line-height:18px;
     margin:2px 0 0 0;    
}
.detail a
{
	text-decoration:underline;
	color:Gray;
	font-size:8pt;
}
/*兴趣点查询样式*/
.poiSearch_title
 {
    height:25px;
    line-height:25px;
    padding-left:5px;
    font-weight:bold;
    white-space:nowrap;  
 }
 
.poiSearch_content
{
    padding:5px 0px 0px 21px;
}

.poisearchpanel
{
    margin-top:10px;
}


/*=========================公交查询样式=========================*/
.menucontainer
{
	margin:6 0 0 0;
}



.bus
{
	overflow:hidden;
    padding-bottom:10px;
	width:100%;
}

.bus .ul
{
	clear:both;
	list-style:none outside none;
	margin:0;
	padding:8px 6px;
	position:relative;
}

.bus .ul div
{
	overflow:hidden;
	padding:2px 0 6px
}

.bus .ul .li1
{
	display:block;
	height:24px;
	list-style:none outside none;
	margin:4px 0 0;
	padding:0
}

.bus .ul .input01
{
	border:1px solid #9E9E9E;
	line-height:normal;
	padding:2px;
	width:125px;
}

.bus .ul .button04
{
	background:url(../images/bus/gjhcnote_no.gif) no-repeat scroll 0 0 transparent;
	border:medium none;
	cursor:pointer;
	height:21px;
	left:165px;
	position:absolute;
	top:28px;
	width:13px;
}

.bus .ul .button04click
{
	background:url(../images/bus/gjhcnote.gif) no-repeat scroll 0 0 transparent;
	border:medium none;
	cursor:pointer;
	height:21px;
	left:165px;
	position:absolute;
	top:28px;
	width:13px;
}

.bus .ul .button05li
{
	height:20px;
	left:185px;
	position:absolute;
	top:28px;
	width:50px;
}





.bussearchtool
{
    position:relative;
    width:100px;
    background:url(../Images/bus/bus_transfer.png) no-repeat;
}

/*=============公交换乘/线路查询切换=============*/
.tit
{
    list-style:none outside none;
    margin:0;
    overflow:hidden;
    padding:0
}

.tit .on
{
	margin:0 0 0 10px;
}

.tit li
{
    cursor:pointer;
    display:block;
    float:left;
    list-style:none outside none;
    margin:0 20 0 0;
    overflow:hidden;
    text-align:center;
}

.tit li span
{
    line-height:28px;
    margin:0 20 0 0;
    overflow:hidden;
    padding:0 32px 0 32px;
}

.tit li .gj
{
    background:url(../Images/bus/note_gj.png) no-repeat scroll left center transparent;
}

.tit li .xl
{
    background:url(../Images/bus/note_zj.png) no-repeat scroll left center transparent;
}

.buslinesearchtool
{
    width:100px;
    margin-left:100px;
    margin-top:-18px;
	background:url(../Images/bus/bus_transfer.png) no-repeat;
}

.busstopsearchtool
{
	background-image:url(../Images/bus/bus2_16.png);
}

.bussearchresult .one
  {
      clear:left;
      margin:2px;
      border-bottom:dashed 1px gray;
      cursor:pointer;
      min-height:30px;
  }
  
.bussearchresult .img
{
     float:left;padding:2px;
}

.bussearchresult .content
{
    margin-left:26px;  
    color:Gray;  
}

.bussearchresult .title
{
    height:25px; 
    font-weight:bold; 
    font-size:12pt; 
    line-height:25px;    
    text-align:left;
}

.bussearchresult .title a{ text-decoration:underline;}

.bussearchresult .detail
 {
     line-height:18px;
     margin:2px 0 0 0;    
}

/*=====================公交换乘==================================*/
.trans_selected
{
	cursor:default;	
}
.trans_normal
{
	cursor:default;	
}

/*================站点选择器==========================*/
.trans_selector
{
}

.trans_selector .start_selector
{
	line-height:18px;
	padding:2px;
	border:solid 1px black;
	margin:2px;
}

.trans_selector .end_selector
{
	line-height:18px;
	padding:2px;
	border:solid 1px black;
	margin:2px;
}

.trans_selector .station_item
{
	height:18px;
	line-height:18px;
	padding:2px;
	border-bottom:dashed 1px gray;
  
}



/*======================工具栏==================================*/
.tool
{
    padding-left:20px;
    margin:2px 6px 2px 0;
    background-position:left center;
    background-repeat:no-repeat;
    width:32px;
    height:32px;
    
}

.maptoolimg
{
    width:32px;
    height:32px;
    cursor:pointer;
    margin: 15px 10px 2px 2px;
}
