
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
}


/*==============================查询面板样式======================================*/
img
{
    border:medium none;
}

.func_panel
{
	position:absolute;
    display:block;
    top:95px;
    right:10px;
	width:320px;
	z-index:2;
}

.func_panel_icon
{
	position:absolute;
	width:60px;
	height:40px;
	left:5px;
	top:-15px;
	cursor:pointer;
	z-index:2;
}

.func_panel_sepline
{
	position:absolute;
	top:30px;
	width:100%;
	height:2px;
	z-index:2;
	background:url(../images/panel/func_panel_sepline_hor.png) no-repeat top center;
}

.func_panel_title
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
    width:100%;
	height:30px;
}

.func_panel_title_left
{
	float:left;
	width:8px;
	height:30px;
	background:url(../images/panel/func_panel_title_left.png) no-repeat;
}

.func_panel_title_right
{
	float:right;
	width:8px;
	height:30px;
	background:url(../images/panel/func_panel_title_right.png) no-repeat;
}

.func_panel_title_bg
{
	margin:0 8px 0 8px;
	height:30px;
	background:url(../images/panel/func_panel_title_bg.png) repeat-x;
}

.func_panel_content
{
	position:absolute;	
	bottom:10px;
	top:30px;
	left:0px;	
	right:0px;
	z-index:2;
}

.func_panel_content_left
{
	position:absolute;
	width:5px;
	top:0px;
	bottom:0px;
	left:0px;
	background:url(../images/panel/func_panel_content_left.png) repeat-y scroll 0 0;
}

.func_panel_content_right
{
	position:absolute;
	width:5px;
	top:0px;
	bottom:0px;
	right:0px;
	background:url(../images/panel/func_panel_content_right.png) repeat-y scroll 0 0;
}

.func_panel_content_bg
{
	position:absolute;
	top:0px;
	bottom:0px;
	right:5px;
	left:5px;
    overflow:hidden;
	scrollbar-face-color :#333333;
	scrollbar-3d-light-color :white;
	scrollbar-arrow-color:white;
	scrollbar-shadow-color :#d9d6d6;
	scrollbar-dark-shadow-color:#d9d6d6;
	scrollbar-highlight-color:White;
	background:url(../images/panel/func_panel_content_bg.png) repeat scroll 0 0;
}

.func_panel_foot
{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:10px;
}

.func_panel_foot_left
{
	float:left;
	width:8px;
	height:10px;
	background:url(../images/panel/func_panel_foot_left.png) no-repeat;
}

.func_panel_foot_right
{
	float:right;
	width:8px;
	height:10px;
	background:url(../images/panel/func_panel_foot_right.png) no-repeat;
}

.func_panel_foot_bg
{
	margin:0 8px 0 8px;
	height:10px;	
	background:url(../images/panel/func_panel_foot_bg.png) repeat-x;
}

.func_panel_title_text
{
	position:absolute;
	left:65px;
	top:0px;
	height:30px;
	right:0px;
	font-size:10pt;
	font-weight:bold;
	color:White;
	line-height:40px;
	cursor:move;
	text-align:left;
	z-index:3;
}

.func_panel_content_text
{
	padding:5px;
	color:White;
	line-height:18px;
	z-index:3;
}

.func_panel_control
{
	position:absolute;
	right:8px;
	top:0;
	width:60px;
	height:30px;
	z-index:4;
}

.func_panel_control_icon
{
	float:right;
	display:block;
	width:16px;
	height:16px;
	margin:10px 2px 0 2px;
	cursor:pointer;
}

a.func_panel_close
{
	background:url(../images/panel/close.png) no-repeat;
}

a.func_panel_close:hover
{
	background:url(../images/panel/close_hover.png) no-repeat;
}

a.func_panel_collapse
{
	background:url(../images/panel/collapse.png) no-repeat;
}

a.func_panel_collapse:hover
{
	background:url(../images/panel/collapse_hover.png) no-repeat;
}

a.func_panel_min
{
	background:url(../images/panel/min.png) no-repeat;
}

a.func_panel_min:hover
{
	background:url(../images/panel/min_hover.png) no-repeat;
}

a.func_panel_expand
{
	background:url(../images/panel/expand.png) no-repeat;
}

a.func_panel_expand:hover
{
	background:url(../images/panel/expand_hover.png) no-repeat;
}

a.func_panel_minicon
{
	float:left;
	margin:14px 2px 0px 2px;
	width:24px;
	height:24px;
	display:block;
	cursor:pointer;
}

a.func_panel_resize
{
	position:absolute;
	right:4px;
	bottom:-5px;
	width:16px;
	height:16px;
	cursor:se-resize;
	display:none;
	z-index:5;
}

#bus_search_panel_icon
{
    background:url("../images/appbar/bus_big.png") no-repeat scroll 0 0 transparent;
}

#bike_search_panel_icon
{
    background:url("../images/appbar/bicycle_big.png") no-repeat scroll 0 0 transparent;
}

#car_search_panel_icon
{
    background:url("../images/appbar/drive_big.png") no-repeat scroll 0 0 transparent;
}

#tour_search_panel_icon
{
    background:url("../images/appbar/hotel_big.png") no-repeat scroll 0 0 transparent;
}

#shopping_search_panel_icon
{
    background:url("../images/appbar/shopping_big.png") no-repeat scroll 0 0 transparent;
}

#entertainment_search_panel_icon
{
    background:url("../images/appbar/entertainment_big.png") no-repeat scroll 0 0 transparent;
}

#food_search_panel_icon
{
    background:url("../images/appbar/restaurant_big.png") no-repeat scroll 0 0 transparent;
}

#bank_search_panel_icon
{
    background:url("../images/appbar/bank_big.png") no-repeat scroll 0 0 transparent;
}

#life_search_panel_icon
{
    background:url("../images/appbar/life_big.png") no-repeat scroll 0 0 transparent;
}

#tourspot_search_panel_icon
{
    background:url("../images/appbar/tour_big.png") no-repeat scroll 0 0 transparent;
}

#hospital_search_panel_icon
{
    background:url("../images/appbar/hospital_big.png") no-repeat scroll 0 0 transparent;
}

/*==============================公交查询样式======================================*/
.menucontainer
{
    margin:0px 0px 0px 0px;
}

#startStop
{
    position:relative;
    padding:5px 0 0 5px;
}

.busInput
{
    bottom: 11px;
    padding: 3px 0 3px 3px;
    position: relative;
    width: 200px;
}

.qubie
{
    bottom: 6px;
    position: relative;
}

#endStop
{
    padding:0px 0 0 5px;
}

.busBtn
{
    bottom:5px;
    color:#0E3871;
    display:block;
    font-size:12px;
    height:21px;
    width:66px;
    padding:5px 0 0;
    position:absolute;
    right:10px;
    text-align:center;
}

.map-bus
{
    width:100%;
}

.map-bus-top
{
    background:url("../images/bus/map-busbg1.gif") repeat-x;
    border-radius:3px 3px 0 0;
    color:#067EC0;
    cursor:pointer;
    float:left;
    height:26px;
    padding-top:8px;
    position:relative;
    font-size:14px;
    /*padding-left:40px;*/
    width:100%;
}

.map-bus-topimg
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:0 -215px;
    height:22px;
    left:10px;
    position:absolute;
    top:7px;
    width:23px;
}

.map-bus-top span
{
    display:block;
    float:left;
    margin-left:40px;
}

.map-bus-top strong
{
    display:block;
    float:left;
    height:26px;
    line-height:26px;
    margin-top:-3px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:200px;
}

.map-bus-arrowimg
{
    background:url("../images/bus/map-under.gif") no-repeat;
    cursor:pointer;
    height:9px;
    position:absolute;
    right:10px;
    top:13px;
    width:14px;
}



.clear
{
    clear:both;
}

.map-bus-main
{
    position:relative;
    height:220px;
    display:block;
    margin-bottom:10px;
    overflow-x:hidden;
    overflow-y:scroll;
}

dl.map-result-cont
{
    padding:5px 0 0;
    width:100%;
}

dl.map-result-cont dd
{
    cursor:pointer;
    padding:0 0 0 12px;
}

.map-result-img-0
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px 0;
}

.map-result-img-1
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px -50px;
}

.map-result-img-2
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px -100px;
}

.map-result-img-3
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px -150px;
}

.map-result-img-4
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px -200px;
}

.map-result-img-5
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px -250px;
}

.map-result-img-6
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px -300px;
}

.map-result-img-7
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px -350px;
}

.map-result-img-8
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px -400px;
}

.map-result-img-9
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:-80px -450px;
}

.map-result-img-0,
.map-result-img-1,
.map-result-img-2,
.map-result-img-3,
.map-result-img-4,
.map-result-img-5,
.map-result-img-6,
.map-result-img-7,
.map-result-img-8,
.map-result-img-9
{
    display:inline;
    float:left;
    height:35px;
    margin:5px 0 16px;
    width:21px
}

dl dd .map-result-ul1
{
    margin:0 0 0 30px;
    padding:5px 0 0 8px;
}

.map-result-ul1
{
    display:block;
    width:230px;
}

.map-result-ul1bg
{
    background:none repeat scroll 0 0 #D9ECF9;
}

dl.map-result-cont dd h3
{
    color:#076EC0;
}

.map-result-ul1 h3
{
    font-size:14px;
    height:20px;
    overflow:hidden;
    width:200px;
}

.maphei25 .button2
{
    float:left;
}

.button2
{
    background:url("../images/bus/button1.gif") repeat-x;
    border:1px solid #C0C0C0;
    color:#343D50;
    text-shadow:1px 1px 0 #FFFFFF;
}

.button2
{
    border-radius:0 5px 5px 0;
    cursor:pointer;
    display:inline;
    font-size:12px;
    height:23px;
    line-height:23px;
    margin-right:8px;
    text-align:center;
}

.button1-hover,.button2-hover,.button3-hover
{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #2B91C9;
    box-shadow: 0 0 3px #7FDCFD;
    color:#0980C1;
}

.map-bus-begin
{
    border:1px solid #067EC0;
    border-radius:3px 3px 3px 3px;
    box-shadow:0 0 4px #9ED9F9 inset;
}

.map-bus-end
{
    border:1px solid #343D50;
    border-radius:3px 3px 3px 3px;
    width:100%;
    margin:10px 10px 10px 0;
}

.map-bus-end-topbc
{
    background:url("../images/bus/map-busbg2.gif") repeat-x;
    border-radius:3px 3px 0 0;
    color:#08202F;
}

.map-bus-endimg
{
    background:url("../images/bus/icon1.png") no-repeat;
    background-position:0 -264px;
    height:22px;
    left:10px;
    position:absolute;
    top:7px;
    width:23px;
}

.map-bus-end span
{
    display:block;
    float:left;
}

.map-bus-end strong
{
    display:block;
    float:left;
    height:26px;
    line-height:26px;
    margin-top:-3px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:200px;
}

